<ng-container *ngIf="state$  | async as state">
  <papx-ventas-header
    [title]="getTitle(state.filterByUser)"
    [filterActivated]="state.filterByUser"
    (filter)="onFilter()"
  ></papx-ventas-header>

  <ion-content>
    <papx-pedidos-list
      [pedidos]="state.cotizaciones"
      (selection)="onSelection($event)"
      (copiar)="onCopiar($event, state.usuario)"
      (cerrar)="onCerrar($event, state.usuario)"
      [uid]="state?.usuario?.uid"
    ></papx-pedidos-list>
  </ion-content>

  <!-- fab placed to the top end -->
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button routerLink="create">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ng-container>
