<ng-container *ngIf="vm$ | async as vm">
  <papx-ventas-header
    [title]="getTitle(vm.filtrar)"
    [filterActivated]="vm.filtrar"
    (filter)="onFilter($event)"
  ></papx-ventas-header>

  <ion-content>
    <ion-searchbar></ion-searchbar>
    <papx-pedidos-list
      [pedidos]="cotizaciones$ | async"
      (selection)="onSelection($event)"
      (copiar)="onCopiar($event, vm.user)"
      (cerrar)="onCerrar($event, vm.user)"
      [uid]="vm.user.uid"
    ></papx-pedidos-list>
  </ion-content>

  <!-- fab placed to the top end -->
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button routerLink="create">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ng-container>
