<ion-item button [disabled]="disabled" (click)="onSelection()">
  <ion-label class="ion-text-wrap">
    <h2>
      {{ getLabel() }}
    </h2>
    <div class="precios">
      <p class="ion-hide-sm-up">Cant: {{ item.cantidad | number: "1.3-3" }}</p>
      <p>Precio: {{ item.precio | currency }}</p>
      <p>Imp: {{ item.importe | currency }}</p>
      <p>
        Desc: <small>({{ item.descuento / 100 | percent }})</small>:
        {{ item.descuentoImporte | currency }}
      </p>
    </div>
    <div *ngIf="item.corte">
      <ion-chip color="warning">
        <ion-icon name="cut"></ion-icon>
        <ion-label>Cortes</ion-label>
      </ion-chip>
    </div>
  </ion-label>
  <ion-note slot="start" class="ion-hide-sm-down">
    <ion-text color="secondary">
      {{ item.cantidad }}
    </ion-text>
  </ion-note>
  <div slot="end">
    <ion-text color="primary">
      {{ item.subtotal | currency }}
    </ion-text>
  </div>
</ion-item>
