<ion-list class="ion-no-padding">
  <ion-item-sliding *ngFor="let pedido of pedidos; index as idx">
    <ion-item button (click)="selection.emit(pedido)">
      <ion-label class="ion-text-wrap">
        <ion-text color="primary">
          <h2>
            {{ pedido.nombre }}
          </h2>
        </ion-text>

        <div class="row-2">
          <span> {{ pedido.sucursal }} </span>
          <span>{{ pedido.tipo }} </span>
          <span> {{ pedido.dateCreated?.toDate() | date: "dd/MM/yyyy" }} </span>
          <span vendedor class="ion-hide-sm-down">
            {{ pedido.updateUser }}
          </span>
        </div>
        <p class="ion-hide-sm-up">
          <span vendedor> {{ pedido.updateUser }} </span>
        </p>
      </ion-label>

      <ion-badge slot="start" color="tertiary">
        {{ pedido.folio }}
      </ion-badge>
      <ion-chip slot="end">
        <ion-label>
          {{ pedido.total | currency }}
        </ion-label>
        <ion-icon
          name="alert-circle"
          color="warning"
          *ngIf="pedido.warnings"
        ></ion-icon>
        <ion-icon
          name="checkmark-done"
          color="success"
          *ngIf="!pedido.warnings"
        ></ion-icon>
      </ion-chip>
    </ion-item>
    <ion-item-options side="end">
      <ion-item-option color="danger">
        Eliminar
        <ion-icon name="trash" slot="bottom"></ion-icon>
      </ion-item-option>
      <ion-item-option (click)="cerrar.emit(pedido)">
        Cerrar
        <ion-icon
          name="checkmark-done-outline"
          slot="bottom"
          color="success"
        ></ion-icon>
      </ion-item-option>
      <ion-item-option color="medium" (click)="copiar.emit(pedido)">
        <ion-icon name="copy" slot="bottom"></ion-icon>
        Copiar
      </ion-item-option>

      <ion-item-option color="secondary"
        >Depósito
        <ion-icon name="cash" slot="bottom"></ion-icon>
      </ion-item-option>
    </ion-item-options>
  </ion-item-sliding>
</ion-list>
