// .container {
//   position: absolute;
//   top: 50%;
//   left: 50%;
//   transform: translate(-50%, -50%);
//   border: 1px solid red;
// }

// @media screen and (min-width: 600px) {
//   .container {
//     position: absolute;
//     top: 50%;
//     transform: translateY(-50%);
//   }
// }

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  // padding: 10px;
  // border: 1px solid yellow;

  .child {
    padding: 20px;
    max-width: 500px;
  }
}
