<ion-grid [formGroup]="form">
  <ion-row>
    <ion-col class="ion-align-self-center">
      <papx-cliente-field
        [cliente]="cliente$ | async"
        [disabled]="form.disabled"
        (changeCliente)="onChangeCliente()"
      ></papx-cliente-field>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <papx-sucursal-control
        formControlName="sucursalEntity"
      ></papx-sucursal-control>
    </ion-col>
    <ion-col>
      <papx-tipo-pedido [parent]="form"></papx-tipo-pedido>
    </ion-col>
    <ion-col>
      <papx-forma-pago-control
        formControlName="formaDePago"
      ></papx-forma-pago-control>
    </ion-col>
    <ion-col>
      <papx-moneda-control formControlName="moneda"></papx-moneda-control>
    </ion-col>
  </ion-row>
</ion-grid>

<!-- Sections segment -->
<!-- <ion-toolbar>
</ion-toolbar> -->
<ion-segment
  (ionChange)="segmentChanged($event)"
  value="partidas"
  scrollable="true"
>
  <ion-segment-button value="partidas" layout="icon-start">
    <ion-icon name="list"></ion-icon>
    <ion-label>Partidas</ion-label>
  </ion-segment-button>
  <ion-segment-button value="cortes" layout="icon-start">
    <ion-icon name="cut"></ion-icon>
    <ion-label>Cortes</ion-label>
  </ion-segment-button>
  <ion-segment-button value="envio" layout="icon-start">
    <ion-icon name="airplane"></ion-icon>
    <ion-label>Envío</ion-label>
  </ion-segment-button>
  <ion-segment-button value="resumen" layout="icon-start">
    <ion-icon name="cart"></ion-icon>
    <ion-label>Resumen</ion-label>
  </ion-segment-button>
</ion-segment>

<div [style.display]="segment === 'partidas' ? 'block' : 'none'">
  <papx-pedido-item-list
    [items]="partidas$ | async"
    (addItem)="addItem()"
    [disabled]="form.disabled"
    [fabButton]="false"
  ></papx-pedido-item-list>
  <!-- <ion-button (click)="actualizar()"> Actualizar </ion-button> -->
</div>
<!-- Cortes -->
<div [style.display]="segment === 'cortes' ? 'block' : 'none'">
  <papx-cortes-list
    [partidas]="cortes$ | async"
    [parent]="form"
  ></papx-cortes-list>
</div>
<!-- Envio -->
<div
  [style.display]="segment === 'envio' ? 'block' : 'none'"
  class="ion-padding"
>
  <papx-envio-form [parent]="form"></papx-envio-form>
</div>
<!-- Resumen -->
<div
  [style.display]="segment === 'resumen' ? 'block' : 'none'"
  *ngIf="summary$ | async as summary"
>
  <papx-pedido-sumary-section
    [parent]="form"
    [disabled]="form.disabled"
    [summary]="summary$ | async"
  ></papx-pedido-sumary-section>
</div>
<papx-pedido-validation
  [parent]="form"
  *ngIf="(hasErrors$ | async) && form.dirty"
></papx-pedido-validation>
